<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/cover_empty.tif</key>
	<data>
	Ym9va5wDAAAAAAQQMAAAAJjOgB8dIUAvsHuk4jTytwg5Hx1vndtbP/IgC5lKbv8QmAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADwAAAAEBAABjb3Zlcl9lbXB0eS50aWYAJAAAAAEGAAAQAAAAIAAA
	ADAAAABAAAAAUAAAAGAAAACIAAAAmAAAAKgAAAAIAAAABAMAACVnAgAAAAAACAAAAAQD
	AAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAIAAAABAMAAEY3LAAAAAAACAAAAAQDAABK
	NywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAABAMAAMWVVwAAAAAACAAAAAQDAAB2uFcA
	AAAAAAgAAAAEAwAAYFBYAAAAAAAkAAAAAQYAAOwAAAD8AAAADAEAABwBAAAsAQAAPAEA
	AEwBAABcAQAAbAEAAAgAAAAABAAAQboHDKgAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAA
	AAAAAAAAAAAAAAgAAAAEAwAABwAAAAAAAAAEAAAAAwMAAPYBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgiD06AAAACAAAAAAEAABBuR5A
	OwAAACQAAAABAQAAQjIyMDBGNkUtQTlFRC0zREEyLTk1RjItMEIxQzE2RDE3MjUxGAAA
	AAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwA
	AAD+////AQAAAAAAAAAQAAAABBAAAMAAAAAAAAAABRAAAHwBAAAAAAAAEBAAALgBAAAA
	AAAAQBAAAKgBAAAAAAAAAiAAAIQCAAAAAAAABSAAAPQBAAAAAAAAECAAAAQCAAAAAAAA
	ESAAADgCAAAAAAAAEiAAABgCAAAAAAAAEyAAACgCAAAAAAAAICAAAGQCAAAAAAAAMCAA
	AJACAAAAAAAAAcAAANgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAOgBAAAAAAAAENAAAAQA
	AAAAAAAA
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/regular_slide_empty.tif</key>
	<data>
	Ym9va6QDAAAAAAQQMAAAACtHzZ/2g7rGIlPJtK1rdgG2L9HAfHvi+5i1FkW2mKdUoAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAAFwAAAAEBAAByZWd1bGFyX3NsaWRlX2VtcHR5LnRpZgAkAAAAAQYA
	ABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAAgAAAAEAwAAJWcCAAAA
	AAAIAAAABAMAAPk8CQAAAAAACAAAAAQDAABENywAAAAAAAgAAAAEAwAARjcsAAAAAAAI
	AAAABAMAAEo3LAAAAAAACAAAAAQDAAAf7TMAAAAAAAgAAAAEAwAAxZVXAAAAAAAIAAAA
	BAMAAHa4VwAAAAAACAAAAAQDAAC0U1gAAAAAACQAAAABBgAA9AAAAAQBAAAUAQAAJAEA
	ADQBAABEAQAAVAEAAGQBAAB0AQAACAAAAAAEAABBugcvDQAAABgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQAAAADAwAA9gEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAA
	AAQAAEG5HkA7AAAAJAAAAAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZE
	MTcyNTEYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAyAAAAAAAAAAFEAAAhAEAAAAAAAAQ
	EAAAwAEAAAAAAABAEAAAsAEAAAAAAAACIAAAjAIAAAAAAAAFIAAA/AEAAAAAAAAQIAAA
	DAIAAAAAAAARIAAAQAIAAAAAAAASIAAAIAIAAAAAAAATIAAAMAIAAAAAAAAgIAAAbAIA
	AAAAAAAwIAAAmAIAAAAAAAABwAAA4AEAAAAAAAARwAAAIAAAAAAAAAASwAAA8AEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide01.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAJ5/5QnUY1qPRziLvC2VKGc2FGgWe803mHs0R9wP/QcgxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTAx
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGE3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide01a.tiff</key>
	<data>
	Ym9va8wDAAAAAAQQMAAAAHGQkyH0tcqUmyKs3qrVHoSsM0Nb0PufMWC0E93fPQR+yAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADQAAAAEBAABTbGlkZTAx
	YS50aWZmAAAAKAAAAAEGAAAQAAAAIAAAADAAAABAAAAAUAAAAGAAAACIAAAAmAAAAKgA
	AADAAAAACAAAAAQDAAAlZwIAAAAAAAgAAAAEAwAA+TwJAAAAAAAIAAAABAMAAEQ3LAAA
	AAAACAAAAAQDAABGNywAAAAAAAgAAAAEAwAASjcsAAAAAAAIAAAABAMAAB/tMwAAAAAA
	CAAAAAQDAADFlVcAAAAAAAgAAAAEAwAAdrhXAAAAAAAIAAAABAMAAGA3WAAAAAAACAAA
	AAQDAABDSVgAAAAAACgAAAABBgAACAEAABgBAAAoAQAAOAEAAEgBAABYAQAAaAEAAHgB
	AACIAQAAmAEAAAgAAAAABAAAQboG4uoAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAA
	AAAAAAAAAAgAAAAEAwAACAAAAAAAAAAEAAAAAwMAAPYBAAAIAAAAAQkAAGZpbGU6Ly8v
	DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgiD06AAAACAAAAAAEAABBuR5AOwAA
	ACQAAAABAQAAQjIyMDBGNkUtQTlFRC0zREEyLTk1RjItMEIxQzE2RDE3MjUxGAAAAAEC
	AACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+
	////AQAAAAAAAAAQAAAABBAAANgAAAAAAAAABRAAAKgBAAAAAAAAEBAAAOgBAAAAAAAA
	QBAAANgBAAAAAAAAAiAAALQCAAAAAAAABSAAACQCAAAAAAAAECAAADQCAAAAAAAAESAA
	AGgCAAAAAAAAEiAAAEgCAAAAAAAAEyAAAFgCAAAAAAAAICAAAJQCAAAAAAAAMCAAAMAC
	AAAAAAAAAcAAAAgCAAAAAAAAEcAAACAAAAAAAAAAEsAAABgCAAAAAAAAENAAAAQAAAAA
	AAAA
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide02.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAANZDgZu1RRoIYfi4A19vmweqt1S5OfWhGnvdxuOEmSSIxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTAy
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGI3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide03.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAPLuwzN+V3IXNwkN1fK/ZYFoQRGj0hYETnvqIX+u6ISlxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTAz
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGM3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide04.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAMP6HtUkgvjJAJC5g7+8KT+Hgnmv6cB8Tq+3Va96kYZKxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTA0
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGQ3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide05.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAABc0lIUkknV0ZdMN269cjAE/HZnSP8iDBiXhxL2CfdCzxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTA1
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGU3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide06.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAJa2Vcudj9OuZchtxiIgS0V8gnYvIYnMa0WaU7KM2DL3xAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTA2
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGY3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide07.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAI+b2JWt1Og/4+PMBUkAdLR5VysIFgLnxd2Fb0Cen92sxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTA3
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGc3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide08.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAM516Fo2NauJN0hKmUa+9JqtIIGrs9HVeLbJnvr5JkuGxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTA4
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGg3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide09.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAABVgewVM6CEBfptrsncu/2laAQNR3xZF9y+lfLDOz+JpxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTA5
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGk3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide10.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAI5o9SSi18L5hcoBj9raFq1IPclwhMOvrVNCEYgkzHr2xAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTEw
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGo3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide11.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAADYRJtj0s6DGfVlLUSlBmebjSNXi8i+rK0vrUxJbRbwpxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTEx
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGs3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide12.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAACIQkxjFX434Ss9TB7HV5l6PW/ZUhPxwYI7Kj/PipjBLxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTEy
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AGw3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide13.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAG/a0yHOwtK20kYTAx47/01apoltdq5xVRdwa5JAnN/VxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTEz
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AG03WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide14.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAC6kwOrl2P0vcAhy2ujsWDgzy2VzzKxVxt0dpiHBNYbFxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTE0
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AG43WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide15.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAKk4ECDINA0y4OwsyldMqYmMmwumedKK+8C6yDNjf+BmxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTE1
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AG83WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide16.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAANv71rWHvhtSoyenujiDBcGxXQCA4bBQqQ/cxdO6ytNkxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTE2
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHA3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide17.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAKfVMqbLI7Q5+8QZYQZaw3DYGJrBVd59qEtst38lhwCvxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTE3
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHE3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide18.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAMslU0CQKJwCUz8MAQd08OuFQXV8dCkFm2yPM2t/4qIYxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTE4
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHI3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide19.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAIR1/gfXYcuKLxSp7XeEB7FTnSit9PqLGAMNROs0CmXIxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTE5
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHM3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide20.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAFvxGdTg613VQTysyiQRWrYNkh804xrXNh28aflKbbG7xAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTIw
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHQ3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide21.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAACMcImwFV/rgp1FGqdJuRnM4ipkcndKnGGVFlP/3pXRhxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTIx
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHU3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide22.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAADjlqjsBW5eQpzVnmy1dPR+tx7u1zeWkhYtHhwhEunXcxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTIy
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHY3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide23.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAG/r9zpd2oaTv8ldYC/WjQf3XcTYNJhBNy7AN7lcZSuRxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTIz
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHc3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide24.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAANuq+E7rHICaLsZQEvv8/TUQFOmkC+SeKQXSN7tDyPw3xAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTI0
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHg3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide25.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAPFCghEblOsuBQ2pDnWW6/U9KkiqS93Vox7NXCp7LPpbxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTI1
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHk3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide26.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAADtRRdzfH+vxsTHUxajDL6DxlhCN5P+Hwpq3Zc7npGmQxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTI2
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHo3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide27.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAK2ZowwC3YFQvQAb1JE0iaUs3ZYssiYszvZfAZb1tHk6xAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTI3
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AHs3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide34.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAANvAgKtYIGsr+RCojG/IYC2F9M8z4PcaqdloY6yrtRoVxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTM0
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AII3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2awAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/dmach009/School/MS_CS/fall2014/advanced_software_engineering/video/assets/slides_as_imgs/Slide35.tiff</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAADV0z87zY/jkpa7bO+VCuce/55PcBVn7mWcN1E5wXkT6xAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGRtYWNoMDA5BgAAAAEB
	AABTY2hvb2wAAAUAAAABAQAATVNfQ1MAAAAIAAAAAQEAAGZhbGwyMDE0HQAAAAEBAABh
	ZHZhbmNlZF9zb2Z0d2FyZV9lbmdpbmVlcmluZwAAAAUAAAABAQAAdmlkZW8AAAAGAAAA
	AQEAAGFzc2V0cwAADgAAAAEBAABzbGlkZXNfYXNfaW1ncwAADAAAAAEBAABTbGlkZTM1
	LnRpZmYoAAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAYAAAAIgAAACYAAAAqAAAAMAA
	AAAIAAAABAMAACVnAgAAAAAACAAAAAQDAAD5PAkAAAAAAAgAAAAEAwAARDcsAAAAAAAI
	AAAABAMAAEY3LAAAAAAACAAAAAQDAABKNywAAAAAAAgAAAAEAwAAH+0zAAAAAAAIAAAA
	BAMAAMWVVwAAAAAACAAAAAQDAAB2uFcAAAAAAAgAAAAEAwAAYDdYAAAAAAAIAAAABAMA
	AIM3WAAAAAAAKAAAAAEGAAAEAQAAFAEAACQBAAA0AQAARAEAAFQBAABkAQAAdAEAAIQB
	AACUAQAACAAAAAAEAABBuga2bAAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAIAAAAAAAAAAQAAAADAwAA9gEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACCIPToAAAAIAAAAAAQAAEG5HkA7AAAAJAAA
	AAEBAABCMjIwMEY2RS1BOUVELTNEQTItOTVGMi0wQjFDMTZEMTcyNTEYAAAAAQIAAIEA
	AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAApAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
